<div id="landing-page">
    <div class="landing-page-content">
        <h1>DISCOVER YOUR FULL POTENTIAL</h1>
        <h2> Our global affiliate marketing network empowers advertisers and publishers of all sizes to grow their businesses online.</h2>
        <h3> Join over <span class="emphasis">25 000</span> advertisers and <span class="emphasis">270 000</span> active publishers, generating a total of <span class="emphasis">200 million</span> annual sales</h3>
        <button mat-raised-button class="landing-page-cat-button" (click)="beginRegistration()">
            <span>
                Sign up for free!
            </span>
            <div class="text-underline"></div>
        </button>
    </div>
</div>